<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include('includes/adminscript'); -%>

        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('includes/loggedin'); -%>

        <main>
            <h2><%= message %> <%= who %></h2>
            <div id="users"></div>
        </main>
    </body>
</html>
