<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('includes/loggedin'); -%>

        <main>
            <p><%= message %> <%= who %></p>
            <div class="wrapperCreate">
                <a href="/">Logout</a>
            </div>
            <h2>Create Todo</h2>
            <div class="wrapperCreate"></div>
        </main>
    </body>
    <div class="container">
        <h2> A Simple ToDo List App </h2>
        <form action ="/users/login" method="POST">
               <input type="text" name="newtask" placeholder="add new task">        <button> Add Task </button>
        <h2> Added Task </h2>
       <% for( var i = 0; i < task.length; i++){ %>
    <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
    <% } %>
        </div>
</html>
